#root {
  max-width: 1280px;
  margin: 0;
}

body {
  background-color: white;
  width: 100%;
  display:flex;
  margin:0px;
}

h3 {
    margin: 0px;
    padding: 5px;
    padding-left: 0px;
    font-family: sans-serif;

}

h4 {
    margin: 0px;
    padding: 5px;
    padding-left: 0px;
    font-family: sans-serif;
    color: #444;    
}

h5 {
    margin: 0px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: normal;
    padding-bottom:0px;
}
 .boxed table {
    margin: 5px;
    background-color: white;
    font-family: monospace;
}

td input[type='text'], td input[type='email']{
    width: 95%;
}

 .boxed table,
 .boxed td,
 .boxed tr {
    border: 1.3px solid #aaa;
    border-collapse: collapse;
    padding: 3px;
}

 .boxed th {
    background-color: lightgrey;
    font-weight: normal;
    border: 1px #aaa solid;
}

form{
    width: inherit;
}

div#root {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
}

.boxed {
    width: 315px;
    margin: 10px;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    padding-left: 5px;;
    padding-right: 5px;
    padding-top:0px;
    padding-bottom: 5px;
}

.pad5 {
    padding: 5px;
    padding-bottom: 0px;
}

.floatR {
    float: right;
}

.floatL {
    float: left;
    width: 100%
}

.scroll{
    height: 200px;
    overflow: auto;
}

.small{
    font-size:.7em;
}

.selected {
    font-weight: bold;
}

table#customer-add-update tbody tr td.label{
    text-align: right;
}

#customer-list, table#customer-add-update {
    width: inherit;
    margin:0px;
    border: 0px;
}

.icon-button {
  /* 1. Make the button a flex container */
  display: flex;

  /* 2. Vertically center the items (image and text) */
  align-items: center;

  /* 3. Add space between the image and text */
  gap: 8px; /* Adjust the space as you like */

  /* Optional: Add some padding and basic styling */
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
}