
.banner {
  background-color: #53858D;
  height: 80px;
  width: 100%;
  min-width: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.banner-text{
  display: flex;
  align-items: baseline;
  gap:30px;
  flex: 0 1 auto;
}
.banner-title{
  font-size:30px;
  font-weight: 500;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.banner-subtitle{
  font-size:20px;
  font-weight: 500;
  margin: 0;
}
.icon-button {
  margin-right: 20px;
}
